.navbar {
  background-color: #222;
  padding: 12px 0;
}


.nav-container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;

  display: flex;
   align-items: center;
  justify-content: center;
}

.brand {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  gap: 15px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  padding: 6px 10px;
  border-radius: 4px;
}

.nav-links a:hover {
  background-color: #444;
}

.nav-links a.active {
  background-color: #0d6efd;
}
